<a href="https://colab.research.google.com/github/laiananardi/bike-sharing-analysis-pandas/blob/main/bike_sharing_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import numpy as np
import pandas as pd

In [ ]:
# Monta Google Drive
drive.mount('/content/drive')
# Caminho para o arquivo baixado
local_zip = '/content/drive/MyDrive/Machine learning/modulo02/trabalho pratico/bike-sharing.csv'

df = pd.read_csv(local_zip, sep=',')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

         datetime  rec_id  season  ...  casual  registered  total_count
0      2011-01-01       1       1  ...       3          13           16
1      2011-01-01       2       1  ...       8          32           40
2      2011-01-01       3       1  ...       5          27           32
3      2011-01-01       4       1  ...       3          10           13
4      2011-01-01       5       1  ...       0           1            1
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[17379 rows x 17 columns]

In [ ]:
#number of rows and columns 
df.shape

(17379, 17)

In [ ]:
# windspeed column mean 
df["windspeed"].mean()

0.1900976063064631

In [ ]:
#all columns mean
df.mean()

rec_id               8690.000000
season                  2.501640
year                    0.502561
month                   6.537775
hour                   11.546752
is_holiday              0.028770
weekday                 3.003683
is_workingday           0.682721
weather_condition       1.425283
temp                    0.496987
atemp                   0.475775
humidity                0.627229
windspeed               0.190098
casual                 35.676218
registered            153.786869
total_count           189.463088
dtype: float64

In [ ]:
#how many rental records exist for the year 2011 (0)
df["year"].value_counts()[0]

8645

In [ ]:
df.iloc[:,:].query('year==0').count()

datetime             8645
rec_id               8645
season               8645
year                 8645
month                8645
hour                 8645
is_holiday           8645
weekday              8645
is_workingday        8645
weather_condition    8645
temp                 8645
atemp                8645
humidity             8645
windspeed            8645
casual               8645
registered           8645
total_count          8645
dtype: int64

In [ ]:
#how many rental records exist for the year 2012 (1)
df["year"].value_counts()[1]

8734

In [ ]:
df.iloc[:,:].query('year==1').count()

datetime             8734
rec_id               8734
season               8734
year                 8734
month                8734
hour                 8734
is_holiday           8734
weekday              8734
is_workingday        8734
weather_condition    8734
temp                 8734
atemp                8734
humidity             8734
windspeed            8734
casual               8734
registered           8734
total_count          8734
dtype: int64

In [ ]:
#How many bicycle rentals were made in 2011?

df.iloc[:,:].query('year==0').sum()

datetime             2011-01-012011-01-012011-01-012011-01-012011-0...
rec_id                                                        37372335
season                                                           21730
year                                                                 0
month                                                            56832
hour                                                            100054
is_holiday                                                         239
weekday                                                          26045
is_workingday                                                     5911
weather_condition                                                12428
temp                                                              4228
atemp                                                          4054.51
humidity                                                       5562.45
windspeed                                                      1652.68
casual                                                          247252
registered                                                      995851
total_count                                                    1243103
dtype: object

In [ ]:
#How many bicycle rentals were made in 2012?

df.iloc[:,:].query('year==1').sum()

datetime             2012-01-012012-01-012012-01-012012-01-012012-0...
rec_id                                                       113651175
season                                                           21746
year                                                              8734
month                                                            56788
hour                                                            100617
is_holiday                                                         261
weekday                                                          26156
is_workingday                                                     5954
weather_condition                                                12342
temp                                                           4409.14
atemp                                                          4213.99
humidity                                                       5338.16
windspeed                                                      1651.02
casual                                                          372765
registered                                                     1676811
total_count                                                    2049576
dtype: object

In [ ]:
#total_count sum

df["total_count"].sum()

3292679

In [ ]:
#mean by weather
med = df.groupby("weather_condition").mean()
med = med.loc[med['total_count'] == med['total_count'].max()]
print(med)

                        rec_id    season  ...  registered  total_count
weather_condition                         ...
1                  8696.750723  2.511084  ...  164.323841   204.869272

[1 rows x 15 columns]